
@import '~font-awesome/css/font-awesome.css';

.nav-bg {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo-set {
    margin-left: 50px;
  }
  
  .middle-flex {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-left: 400px;
  }
  
  .middle-flex li {
    margin: 0;
    padding: 0;
  }
  
  
  @media (max-width: 768px) {
    .middle-flex {
      margin-left: 0; 
      justify-content: center; 
    }
  }
  
